.profile-page{
max-width:1100px;
margin:30px auto;
padding:20px;
}

.profile-header{
text-align:center;
gap:40px;
background:rgb(214, 224, 208);
padding:30px;
border-radius:15px;
box-shadow:0 2px 10px rgba(0,0,0,.15);
}

.profile-header img{
width:180px;
height:180px;
border-radius:50%;
object-fit:cover;
}

.stats{
display:flex;
justify-content:center;
gap:40px;
}

.buttons{
align-items: baseline;
justify-content:center;
display:flex;
gap:15px;
}

.follow-btn{
background:#007bff;
color:white;
border:none;
height:40px;
width:120px;
padding:12px 25px;
border-radius:8px;
cursor:pointer;
}

.following-btn{
background:grey;
color:white;
border:none;
height:40px;
width:120px;
padding:12px 25px;
border-radius:8px;
cursor:pointer;
}

.message-btn{
background:#555;
color:white;
border:none;
height:40px;
width:120px;
padding:12px 25px;
border-radius:8px;
cursor:pointer;
}

.section{
background:rgb(210, 237, 185);
margin-top:20px;
padding:25px;
border-radius:12px;
box-shadow:0 2px 10px rgba(0,0,0,.1);
}

.section h2{
margin-bottom:15px;
}

.experience{
margin-bottom:20px;
}